Selection of Java libraries for JSON patch and JSON streaming

## Description

For the development of the Content Manager, the new plugin for Indexer, we will need to work with JSON Patch and JSON streaming for efficient processing of large JSON content over the web. 

* JSON Patch is a standard format for describing changes on a JSON document [RFC 6092][rfc6092]. It's usually used together with HTTP PATCH for the modification of HTTP resources. The JSON Patch media type is `application/json-patch+json`.

    > A JSON Patch document is a JSON [[RFC4627](https://datatracker.ietf.org/doc/html/rfc4627)] document that represents an
    >    array of objects.  Each object represents a single operation to be
    >    applied to the target JSON document.
    >
    >    A JSON Patch document is a JSON [RFC4627] document that represents an
    >    array of objects.  Each object represents a single operation to be
    >    applied to the target JSON document.
    > 
    >    The following is an example JSON Patch document, transferred in an
    >    HTTP PATCH request:
    > 
    > ```
    >    PATCH /my/data HTTP/1.1
    >    Host: example.org
    >    Content-Length: 326
    >    Content-Type: application/json-patch+json
    >    If-Match: "abc123"
    > ```
    > 
    > ```json
    >    [
    >      { "op": "test", "path": "/a/b/c", "value": "foo" },
    >      { "op": "remove", "path": "/a/b/c" },
    >      { "op": "add", "path": "/a/b/c", "value": [ "foo", "bar" ] },
    >      { "op": "replace", "path": "/a/b/c", "value": 42 },
    >      { "op": "move", "from": "/a/b/c", "path": "/a/b/d" },
    >      { "op": "copy", "from": "/a/b/d", "path": "/a/b/e" }
    >    ]
    > ```

 
* [JSON streaming](https://en.wikipedia.org/wiki/JSON_streaming) is a communication protocol for transporting instances of JSON text within a stream communication protocol.

### A. References
- [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902)
- [ndjson](https://github.com/ndjson/ndjson-spec)
- https://www.baeldung.com/jackson-streaming-api
- https://javaee.github.io/javaee-spec/javadocs/javax/json/JsonPatch.html

## Tasks

- [x] Look for and compare JAVA libraries for JSON Patch.
- [x] Look for and compare JAVA libraries for JSON streaming.*

## Considerations

- It may not be required to include third-party libraries to work with JSON Patch and JSON streaming in JAVA, as the language may provide support for these technologies. Consider this option too in the comparison.
- Understand the use of JSON Patch and JSON streaming under the Indexer's (OpenSearch / Lucene) ecosystem.


[rfc6092]: https://datatracker.ietf.org/doc/html/rfc6902

The usage of the `Javax.json` utilities for the _JSON Patch_ results pretty straightforward.

```Java
import javax.json.Json;
import javax.json.JsonArray;
import javax.json.JsonPatch;
import javax.json.JsonPatchBuilder;
import javax.json.JsonReader;
import java.io.StringReader;

public class Main {
    public static void main(String[] args) {
        // Initial JSON array representing contacts
        String contactsJson = "[{\"name\":\"John\",\"phones\":{\"mobile\":\"9876-5432\"}}, {\"name\":\"Amy\",\"age\":25}]";
        JsonReader reader = Json.createReader(new StringReader(contactsJson));
        JsonArray contacts = reader.readArray();

        // Print the original JSON
        System.out.println("Original JSON: " + contacts);

        // Create a JsonPatchBuilder
        JsonPatchBuilder builder = Json.createPatchBuilder();

        // Add new values where they don't already exist
        builder.add("/0/phones/office", "1234-567");
        builder.add("/1/city", "New York");

        // Build and apply the patch
        JsonPatch patch = builder.build();
        JsonArray result = (JsonArray) patch.apply(contacts);

        // Print the result
        System.out.println("Patch result: " + result);
    }
}

```
```Shellsession
Original JSON: [{"name":"John","phones":{"mobile":"9876-5432"}},{"name":"Amy","age":25}]
Patch result: [{"name":"John","phones":{"mobile":"9876-5432","office":"1234-567"}},{"name":"Amy","age":25,"city":"New York"}]
```

We go with Gson as it proved to be the better option of these three. It's lightweight, fast, stable and popular, as it is widely used.